
{% extends "base.html" %}
{% block content %}
<html>
    <!-- access Plotly content delivery network (CDN) charting library -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<body>
    <h2>Top 5 Drivers</h2>
    <div id="myHBarPlot" style="width:80%; max-width:800px; margin: 0 auto;"></div>

    <script>
        // Note SPACE after each fruit name so gap before horizontal bars
        // const priceList = value_list;
        // const fruitList = name_list;
        var driverList = {{ name_list | safe }};  
        var timeList = {{ value_list | safe }};
        var barColors = ["red", "blue", "yellow", "green", "purple"]; //standard HTML color names
        // REPLACE constants above with passed in variables.
        // Use the '|safe' Jinja filter to mark them as safe (prevents your data being html-escaped). eg,
        // var myList = {{ list_from_py | safe }}

        // Define graph data
        const data = [{ x: timeList,  y: driverList,  type:"bar", orientation:"h", marker: { color: barColors }}];

        // Define graph layout. Excluded a y-axis title as fruit names are self-explanatory.
        const layout = {  
            xaxis: {range: [0, Math.max(...timeList) + 10], title: "Total time (seconds)"}, 
            yaxis: {tickfont: { size: 12 },automargin: true, },
            title: "Top 5 Drivers Overall"
        };

        // Display using Plotly
        Plotly.newPlot("myHBarPlot", data, layout);

    </script>
</body>

{% endblock %}
